@font-face {
  font-family: france-reg;
  src: url(./Fonts/sanfranciscodisplay-regular-webfont.woff);
}
@font-face {
  font-family: france-med;
  src: url(./Fonts/sanfranciscodisplay-medium-webfont.woff);
}
@font-face {
  font-family: france-bold;
  src: url(./Fonts/sanfranciscodisplay-bold-webfont.woff);
}
@font-face {
  font-family: france-semibold;
  src: url(./Fonts/sanfranciscodisplay-semibold-webfont.woff);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: france-reg;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.topImage {
  background-image: url(./images/WhatsApp\ Image\ 2021-12-12\ at\ 2.18.29\ PM.jpeg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
}

.topImageText {
  margin-left: 100px;
  color: white;
}

.topImageText > h1 {
  font-size: 70px;
  margin: 0;
  margin-bottom: 60px;
  display: inline;
}

.topMedText {
  font-family: france-med;
}
.topImageText > h3 {
  font-size: 50px;
}

.category {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  padding: 2% 10% 0%;
}
.categories {
  background-color: white;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  margin: auto;
  padding: 20%;
  position: relative;
  border-top: 1px solid #d8d8d8;
  border-bottom: 2px solid #d8d8d8;
  text-align: center;
  transition: all 0.5s;
}
.categories:hover {
  background-color: rgb(49, 200, 251);
}
.categories:hover .categoryLogo {
  transform: scale(1.3, 1.3);
}
.categories:hover .colorBlack {
  color: white;
}
.blockCircle {
  width: 10px;
  height: 10px;
  border: 1px solid #a2a2a2;
  background-color: white;
  border-radius: 50%;
  display: grid;
  margin: auto;
  position: absolute;
  top: -5px;
  left: 48%;
}

.blockCircleRed {
  background-color: red;
}
.activeBlock .blockCircle {
  background-color: red;
}
.blockFirst {
  border-radius: 8px 0 0 8px;
  border-left: 2px solid #d8d8d8;
}
.blockLast {
  border-radius: 0 8px 8px 0;
  border-right: 2px solid #d8d8d8;
}

.greyBlock {
  background-color: #fafafa;
}
.activeBlock {
  background-color: rgb(49, 200, 251);
  background: linear-gradient(
    90deg,
    rgba(49, 200, 251, 1) 35%,
    rgba(1, 108, 160, 1) 100%
  );
  color: white;
}

.categoryLogo {
  margin: auto;
  font-size: 50px;
  margin-bottom: 8px;
  transition: all 0.5s;
  color: rgba(1, 108, 160, 1);
}
#brandinglogo {
  color: white;
}
.categories > p {
  font-size: 120%;
}

.lineBlock {
  width: 100%;
  padding: 0 10%;
  position: relative;
}
.line {
  border-bottom: 1px solid #d8d8d8;
  margin: 10% 0;
  color: #d8d8d8;
  width: 100%;
  height: 2px;
}
.lineSquare {
  color: #d8d8d8;
  width: 40px;
  height: 40px;
  background-color: white;
  border-left: 3px solid #d8d8d8;
  border-bottom: 3px solid #d8d8d8;
  transform: rotate(-45deg);
  position: absolute;
  top: -18px;
  right: 48.2%;
}
.type {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0% 15% 0%;
}

.types {
  background-color: white;
  height: 200px;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding: 0 5%;
  position: relative;
  border-left: 2px solid #808080;
  border-bottom: 2px solid #d8d8d8;
  border-top: 2px solid #d8d8d8;
  text-align: center;
  width: 100% !important;
  transition: all 0.5s;
}
.types:hover {
  background-color: rgb(49, 200, 251);
  transform: scale(1.1, 1.1);
  z-index: 2;
}

.types:hover .colorBlack {
  color: white;
}

.types > p {
  font-size: 100%;
}
.typeBlock {
  background: rgb(0, 106, 158);
  background: linear-gradient(
    90deg,
    rgba(0, 106, 158, 1) 35%,
    rgba(48, 198, 249, 1) 100%
  );
}
.blocksquare {
  width: 10px;
  height: 10px;
  display: grid;
  margin: auto;
  position: absolute;
  border: 1px solid #a2a2a2;
  top: 25%;
  left: 48%;
}

.formArea {
  padding: 0 20%;
  width: 100%;
}

.formArea > h1 {
  font-size: 45px;
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 10px;
}
.form {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr) !important;
  column-gap: 50px;
}

.input {
  outline: none;
  border: 0;
  border-bottom: 2px solid #656565;
  padding: 15px 5px;
  font-size: 15px;
  color: #000000;
}

.input::placeholder {
  color: #000000;
  opacity: 1;
}
.form > textarea {
  outline: none;
  border: 0;
  border-bottom: 2px solid #656565;
  padding: 15px 5px;
  font-size: 15px;
  color: #000000;
  grid-column: 1 / span 2;
}

.form > textarea::placeholder {
  color: #000000;
  opacity: 1;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  margin-top: 50px;
  margin-bottom: 150px;
}
.button {
  border: 0px;
  padding: 5px 15px;
  border-radius: 3px;
  background-color: white;
  transition: all 0.5s;
}

.coloredButton {
  background-color: #006a9e;
  color: white;
  transition: all 0.5s;
}
.groupedButton {
  display: grid;
  grid-template-columns: auto 1fr;
  border: 2px solid #d8d8d8;
  border-radius: 3px;
}
.groupedButton > img {
  border-radius: 3px;
  padding: 5px;
}

/* Footer */
.footer {
  background: #fafafa;
  padding: 0 3%;
  padding-top: 45px;
  padding-bottom: 20px;
}

.footer a {
  color: #4d4d4d;
  transition: color 0.3s;
  font-size: 16px;
}

.footer__section {
  padding: 2rem;
}

.footer__section .list {
  margin: 0;
}

.footer__heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #006a9e;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__brand img {
  max-width: 230px;
}

.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.list {
  list-style: none;
  padding: 0;
}

.company {
  width: 200px;
  margin-bottom: 10px;
  font-size: 15px;
}

.companyt {
  font-size: 15px;
  color: #006a9e;
  font-family: france-semibold;
  margin-bottom: 20px;
}

/* Inputs */
.inputt {
  font-size: 15px;
  outline: 0px;
  padding: 15px 5px;
  border: 0;
  border-radius: 20px;
}

.input::placeholder {
  color: black;
}

.input-group {
  border-radius: 20px;
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: 1fr auto;
  border: 0.1px solid #d8d8d8;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.input-group .input {
  padding: 15px 0;
  width: 0;
}

.input-group .btn {
  border: 0;
  width: 45px;
  border-radius: 50%;
  background-color: #006a9e;
  color: white;
}

.checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
}

.checkbox > input {
  margin: 0 10px;
}

.checkbox > p {
  font-size: 15px;
  color: #4d4d4d;
}

.social {
  background-color: #006a9e;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: #fafafa;
  padding: 20px 5%;
  font-family: france-semibold;
  font-size: 28px;
}
.socialText {
  font-size: 20px;
  display: grid;
  align-content: center;
}

.socialIcons {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-content: center;
  justify-content: space-around;
  transform: translateY(2px);
}
.fbicon {
  width: 7px;
  transition: all 0.5s;
}
.fbicon:hover {
  transform: scale(1.3, 1.3);
}

.twicon {
  width: 15px;
  transition: all 0.5s;
}
.twicon:hover {
  transform: scale(1.3, 1.3);
}
.inicon {
  width: 15px;
  transition: all 0.5s;
}
.inicon:hover {
  transform: scale(1.3, 1.3);
}
.socialIcons > p {
  font-size: 36px;
  margin-right: 30px;
  white-space: nowrap;
}

.end {
  padding: 20px 5%;
  color: #4d4d4d;
}
@media only screen and (max-width: 800px) {
  .category {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .categories {
    border: 1px solid #d8d8d8;
    border-radius: 8px;
  }

  .topImageText > h1 {
    font-size: 50px;
  }
  .topImageText > h3 {
    font-size: 30px;
  }
  .topImage {
    background-size: contain;
  }
  .blockLast {
    border-right: 0px solid grey;
  }
  .lineSquare {
    right: 44%;
  }
  .type {
    grid-template-columns: 1fr;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .socialIcons {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .socialIcons > p {
    margin: 15px 0;
    grid-column: 1 / span 3;
  }

  .socialIcons > a {
    margin: 15px 0;
  }
  .social {
    display: block;
  }
  .form {
    width: 100%;
    grid-template-columns: 1fr !important;
  }
  .buttons {
    grid-template-columns: 1fr !important;
    row-gap: 20px;
  }
  .form > textarea {
    grid-column: 1 / 1;
  }
  .type {
    row-gap: 10px;
  }

  .types {
    border: 2px solid #808080;
  }
  .topImageText {
    margin-left: 0;
    text-align: center;
  }
  .formArea > h1 {
    font-size: 25px;
  }
  .formArea {
    padding: 0 10%;
  }
  .footer__section {
    border-bottom: 2px solid #808080;
  }
}

/* //........................... */

.colorBlack {
  color: #000000;
  transition: color 0.5s;
}
.colorWhite {
  color: white;
}

.coloredButton:hover {
  background-color: lightgray;
}
#footer {
  background: #fbfbfb;
  margin: auto;
  margin-top: 80px;
  padding-top: 50px;
  padding-bottom: 20px;
}
#footer-top {
  display: flex;
  padding: 0 100px;
}
#footer-top #subscribe .company-ref {
  color: #016ca0;
  font-family: bodyFontSemiBold;
  font-size: 15px;
  line-height: 2;
}
#footer-top .subscription {
  margin-top: 20px;
}
#footer-top .subscription .input-inline {
  position: relative;
  width: fit-content;
}
#footer-top .subscription input[type="email"] {
  height: 35px;
  border-radius: 20px;
  border: 0;
  width: 300px;
  padding: 15px;
  font-size: 15px;
  font-family: bodyFontSemiBold;
  box-shadow: rgba(14, 30, 37, 0.1) 0px 2px 2px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 8px 0px;
}
#footer-top .subscription input[type="email"]::placeholder {
  color: #a5a5a5;
}
#footer-top .subscription input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 0;
  background: #016ca0;
  color: #fff;
  cursor: pointer;
}
#footer-top .subscription .checkbox-inline {
  display: flex;
  margin: 20px 0;
}
#footer-top .subscription .checkbox-inline label {
  font-size: 13px;
  margin-left: 10px;
  color: gray;
}
#footer-top .subscription .checkbox-inline input {
  cursor: pointer;
}
#footer-top .footer-links {
  list-style: none;
  margin-top: 50px;
  margin-left: 25px;
}
#footer-top .footer-links li:first-child {
  color: #016ca0;
  font-family: bodyFontSemiBold;
  margin: 10px 0;
}
#footer-top .footer-links li a {
  text-decoration: none;
  font-size: 15px;
  color: #b1b1b1;
  font-family: bodyFontMedium;
  display: block;
  padding: 2px;
}
#footer-bottom {
  margin-top: 10px;
  background: #016ca0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: #fff;
  padding: 20px 100px;
  font-family: bodyFontSemiBold;
}
#footer-bottom #social-links {
  list-style: none;
  margin: 0;
}
#footer-bottom #social-links li {
  display: inline-block;
}
#footer-bottom #social-links li:first-child {
  margin-right: 20px;
  font-size: 20px;
}
#footer-bottom #social-links li a {
  color: #fff;
  padding: 0 3px;
}
#footer-bottom .slogan {
  font-size: 28px;
}
#footer-note {
  padding: 20px 100px;
  font-size: 12px;
  color: gray;
}

@media screen and (max-width: 1200px) {
  #footer-top {
    padding: 0 50px;
  }
  #footer-note {
    padding: 20px 50px;
  }
  #footer-top .footer-links li a {
    font-size: 13px;
  }
}

@media screen and (max-width: 992px) {
  #footer-top {
    flex-direction: column;
  }
  #footer-top .footer-links {
    margin: 5px 0;
  }
  #footer-top .footer-links li:first-child {
    margin: 0;
  }
  #footer-bottom .slogan {
    font-size: 18px;
  }
  #footer-bottom #social-links li:first-child {
    font-size: 15px;
  }
}

@media screen and (max-width: 992px) {
  #footer-top {
    flex-direction: column;
  }
  #footer-top .footer-links {
    margin: 5px 0;
  }
  #footer-top .footer-links li:first-child {
    margin: 0;
  }
  #footer-bottom .slogan {
    font-size: 18px;
  }
  #footer-bottom #social-links li:first-child {
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  #footer-top #subscribe .company-ref {
    font-size: 13px;
  }
  #footer-top .subscription input[type="email"] {
    font-size: 12px;
    width: 250px;
  }
  #footer-top .subscription .checkbox-inline label {
    font-size: 11px;
  }
  #footer-top .footer-links {
    padding: 0 20px;
  }
  #footer-bottom {
    flex-direction: column;
    padding: 20px 0;
  }
  #footer-bottom .slogan,
  #footer-bottom #social-links {
    margin: 5px auto;
  }
}

.typeBlock .blocksquare {
  background-color: red;
}
.none {
  display: none;
}
.block {
  display: block;
}
